@model IEnumerable<SalesWebMvc.Models.Seller>
@{
    ViewData["Title"] = "Sellers";
}
<h2>@ViewData["Title"]</h2>
<style>
    .custom-button {
        background-color: rgb(42, 82, 190);
        padding: 10px 20px;
        /* Ajuste o padding para alcançar a altura desejada */
        font-size: 16px;
        /* Garanta que o tamanho da fonte seja adequado */
        border: none;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        display: inline-block;
        /* Isso ajuda a alinhar corretamente o link */
        transition: background-color 0.3s ease;
    }

    .custom-button:hover {
        background-color: rgb(22, 62, 170);
        /* Mais escuro para hover do botão azul */
    }

    .custom-button:active {
        background-color: rgb(12, 52, 160);
        /* Ainda mais escuro para o estado ativo */
    }
</style>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
</table>
</p>
<p>
    <a asp-action="Create" class="custom-button">Create New</a>

</p>
